* {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #202124;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.app {
    display: flex;
    width: 748px;
    height: 414px;
}

input {
    border: 1px solid #818588;
    border-radius: 9.2px;
    box-sizing: border-box;
    color: #bdc1c6;
    font-size: 16.1px;
    height: 46px;
    background-color: transparent;
    width: 100%;
}

.output,
.input {
    display: flex;
    flex-direction: column;
    width: 345px;
}

textarea {
    background-color: transparent;
    color: #bdc1c6;
    border: none;
    resize: none;
    padding: 20.7px;
    height: 168px;
    border-radius: 11.5px;
    outline: none;
    overflow: auto;
    font-size: 32.2px;
    margin-top: 11.5px;
}

.output textarea {
    background-color: #303134;
}

.select-drop-down input {
    color: #8ab4f8;
    padding: 5.8px 17.3px;
    font-size: 17.3px;
}

.select-drop-down .down-arrow svg {
    position: relative;
    left: 305.5px;
    top: -38.45px;
    width: 29.9px;
    height: 29.9px;
    fill: #8ab4f8;
}

.arrow-container {
    padding: 11.5px;
}

.arrow-container svg {
    width: 29.9px;
    height: 29.9px;
    fill: #5a5a5d;
}

.option-list {
    width: 100%;
}

.search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 11.5px;
}

input {
    border: 1px solid #818588;
    border-radius: 9.2px;
    box-sizing: border-box;
    color: #bdc1c6;
    font-size: 16.1px;
    height: 46px;
    background-color: transparent;
    width: 90%;
    outline: none;
}

.search-bar input {
    background: url(https://www.gstatic.com/images/icons/material/system/2x/search_grey600_24dp.png) right 9.2px center no-repeat;
    background-size: 27.3px 27.3px;
    padding-left: 18.4px;
    padding-right: 45.5px;
}

.search-bar .close-button svg {
    width: 34.5px;
    height: 34.5px;
    padding: 6.9px;
    fill: #5a5a5d;
}

.option-container {
    height: 287.5px;
    overflow: auto;
}

.option-list ul {
    margin: 17.3px;
    padding: 0;
    height: 1495px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
}

.option-list li {
    color: #bdc1c6;
    font-size: 16.1px;
    padding: 10.3px;
    list-style-type: none;
    border-radius: 5.8px;
}

.option-list li:hover {
    background-color: #5a5a5d;
}

.list-item {
    display: flex;
}

.list-item .icon {
    padding: 10.3px;
    width: 12.65px;
    color: #8ab4f8;
}

.button-container {
    color: #bdc1c6;
    padding: 20.7px;
    height: 46px;
}

.select-drop-down input {
    color: #8ab4f8;
    padding: 6.9px 20.7px;
    font-size: 17.3px;
}

.select-drop-down .down-arrow svg {
    position: relative;
    left: 305.5px;
    top: -38.45px;
    width: 29.9px;
    height: 29.9px;
    fill: #8ab4f8;
}

.input .delete {
    position: relative;
    left: 305.5px;
    top: -179.55px;
    font-size: 57.75px;
    color: #bdc1c6;
}

.button-container {
    color: #bdc1c6;
    padding: 14.45px;
    height: 46px;
}

.input .delete {
    position: relative;
    left: 305.5px;
    top: -179.55px;
    font-size: 57.75px;
    color: #bdc1c6;
}